@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');
html {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	padding: 0;
	font-weight: 100;
	color: #d5d3d3;
}
body :link {
	color: #d5d3d3;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 100%;
}
body a:hover {
	color: #292669;
}
body :visited {
	color: #d5d3d3;
}
h1, h2, h3, h4, h5, h6, p {
	font-weight: 100;
	line-height: 1;
	margin: 0;
	padding: 0;
}

.intro {
	margin: 0;
	padding: 0 0 1% 0;
	width: 100%;
 	background-image: url(css_garden_header_background.jpg), url(css_garden_background_grey1.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: 0 0, 0 45%;
	background-size: 100% 45%, 100% 100%;
	color: #d5d3d3;
	font-weight: 100;
}
header {
	width: 100%;
	height: 30em;
	float: left;
	margin-bottom: 7%;
}
header h1 {
	margin-top: 3em;
	margin-bottom: 1em;
	padding-left: 9%;
	font-weight: 100;
	font-size: 200%;
	line-height: 1em;
}
header h2 {
	padding-left: 9%;
	font-weight: 100;
	font-size: 350%;
	line-height: 0em;
}
.summary {
	position: absolute;
	border: 2px solid #540c0b;
	text-align: justify;
  width: 40%;
  margin-left: 50%;
	margin-top: 20%;
	padding: 2%;
	margin-bottom: 4%;
}
.summary:hover {
	background: black;
	 box-shadow: 0px 0px 10px #540c0b; 
    -moz-box-shadow: 0px 0px 10px #540c0b;
    -webkit-box-shadow: 0px 0px 10px #540c0b;
}

.design-selection {
	position: absolute;
	width: 20%;
	top: 32em;
	right: 5em;
  background: #12100f;
	padding: 2%;
	}
.design-selection ul {
	list-style: none;
	padding: 0;
}
.design-selection .design-name {
	float: left;
	width: 80%;
	margin-right: 20%;
	margin-top: 0.5em;
}

.design-selection li a:first-of-type:after {
  content: url(css_garden_square_bulliten.jpg);
	position: absolute;
	right: 2em;
	margin: 0.7em 0 0.7em 0;
	}
.design-selection a:hover {
	color: #292669;
}
.design-selection:hover {
	background: black;
}
.preamble {
	clear: both;
	width: 30%;
	padding: 1.5%;
	border: 2px solid #292669;
	margin: 5% 30% 15% 5%;
	text-align: justify;
}
.preamble h3 {
	padding-bottom: 0.5em;
	font-size: 140%;
}
.preamble:hover {
	background: black;
}
.main {
	clear: both;
	margin: 0;
	background-image: url(css_garden_background_grey2.jpg), url(css_garden_header_background.jpg), url(css_garden_background_grey1.jpg);
	background-repeat: no-repeat, no-repeat;
	background-position: 0 0, 0 25em, 0 50em ;
	background-size: 100% 25em, 100% 25em, 100% 40em;
	padding-top: 4em;
}

.explanation {
	clear: both;
	border: 2px solid #292669;
	margin: 0% 5% 8% 55%;
	padding: 1em;
	text-align: justify;
	color: #f1f0ef;
	}
.explanation:hover {
	background: black;
}
.explanation h3 {
	margin: 0.5em 0 0.5em 0;
	font-size: 140%;
}
.participation {
	clear: both;
	float: left;
	width: 50%;
	border: 2px solid #292669;
	padding: 1%;
	background: #12100f;
	margin: 4% 4.5% 3% 4.5%;
}
.participation h3 {
	margin: 0.5em 0 0.5em 0;
	font-size: 140%;
}
.participation:hover{
	background: black;
}
.benefits {
	float: right;
	width: 20%;
	background: #12100f;
	margin: 4% 4.5% 15% 4.5%;
	padding: 1%;
	border: 2px solid #540c0b;
}
.benefits h3 {
	margin: 0.5em 0 0.5em 0;
	font-size: 140%;
}
.benefits:hover {
	background: black;
}
.requirements {
	clear: both;
	padding: 1.5em;
	text-align: justify;
	border: 2px solid #540c0b;
	margin: 1em 3em 3em 3em;
}
.requirements:hover {
	background: black;
}
.requirements h3 {
	margin: 0.5em 0 0.5em 0;
	font-size: 140%;
}
footer {
	background: #12100f;
	padding: 9em 0 10em 0;
	font-size: 120%;
}
footer a {
	padding: 0 2em 0 2em;
}
footer a:first-of-type {
	margin-left: 20em;
}
.design-archives {
	position: absolute;
	top: 70em;
	left: 10%;
	border: 1px solid #292669;
	padding: 1em;
}

.design-archives ul {
	list-style-type: none;
	padding-right: 1em;
	}
.design-archives li::before{
	content: url(css_garden_square_bulliten.jpg);
	padding-right: 1em;
}
.design-archives li:last-of-type {
	margin-bottom: 1em;
}

.archives {
	margin-left: 2.2em;
}
.desgin-archives:hover {
	background: black;
}
.zen-resources {
	position: absolute;
	top: 144em;
	left: 22%;
}
.zen-resources .resources {
	margin: 0 49%;
}
.zen-resources ul {
	list-style-type: none;
}
.zen-resources li {
	float: left;
	padding: 1em;
}